body, html {
    font-family: 'Abril Fatface';
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    text-align: center;
}

li, 
a, 
button {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: black;
}

nav, 
header,
div.outer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;  
}
.educations,
.skills,
.contact {
    border-top: solid 2px gray;
}

li {
    display: inline-block;
    padding: 0px 20px;
}

li a:hover {
    color: blue;
}

button  {
    padding: 9px 25px;
    background-color: rgba(11, 147, 185, 0.594);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

header img {
    width: 40%;
    border-radius: 50%;
}

header h1, img {
    padding: 15px 25px;
    margin: 30px;
}

.educations img {
    height: 100px;
}
